<section class="">
  <section class="">
    {{outlet}}
  </section>

  <section class="">
      {{#each allStages as |stage|}}
        <h1>{{stage.name}}</h1>
        <div class="s-Column">
      {{/each}}
    </div>
  </section>
</section>